body{
    font-family:  Serif, sans-serif;
    font-size: 14px;
}

header{
    background-color: lightyellow;
    border-bottom: 1px solid black;
}

header img,header h1{
    width: 30%;
    float: left;
}

main>img{
    float:left;
    width: 30%;
}

main>dl{
    float:left;
    width: 60%;
}

main div{
    clear: left;
}

header h1{
    color: rgba(255, 38, 0, 0.685);
    margin-left: 20%;

}

/*--------------------------------------------*/
/* link style */
header nav{
    border: 4px solid rgb(15, 103, 219);
    padding: 2% 0%;
    margin: 2% 5%;
    background-color: aqua;
    align-items: center;
    clear: both;
}

header nav a{
    padding: 2% 4%;
    background-color: greenyellow;
}

header nav a:link, header nav a:visited{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

header nav a:hover{
    text-decoration: none;
    color: rgb(163, 22, 12);
    background-color: rgb(251, 255, 0);
    font-weight: bold;
}

header nav a:active{
    text-decoration: none;
    color: rgb(20, 185, 197);
    background-color: rgb(255, 0, 0);
    font-weight: bold;
}
/*--------------------------------------------*/

/*main*/
main{
    padding: 10px 0px;
    color: #636363;
    font-size: 20px;
    margin-right: 34%;
}

/*aside*/
aside{
    border: 3px solid black;
    background-color: #3333336e;
    padding: 2% 7%;
    float: right;
    width: 20%;
}

/*footer*/
footer{
    background-color: lightyellow;
    border-top: 1px solid black;
    font-size: 90%;
    clear: both;
}

